<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="../static/index.css"/>
    <script type="module" src="../static/index.js"></script>
    <title>Dublin Bikes</title>
</head>
<body>
<div class="header">
    <div id="title-wrap">
        <label class="title">Dublin Bikes</label>
        <img id="dublin-bike-logo" src="../static/img/animation_500_lgiak8yk.gif" alt="logo">
    </div>

    <div id="weather-wrap">
        <label id="weather"></label>
        <img id="weather-icon" src="../static/img/icon.png" alt="logo">
    </div>
</div>
<div class="container">
    <div class="left">
        <div class="left-content">
            <div>
                <label class="prediction">Now:</label>
            </div>
            <div id="current-station-info">
                <div>
                    <label class="station-info">Available Bikes: </label>
                    <label id="current-station-bikes">-</label>
                </div>
                <div>
                    <label class="station-info">Free Bike Stands: </label>
                    <label id="current-station-bike-stands">-</label>
                </div>
                <div>
                    <label class="station-info">Station Status: </label>
                    <label id="current-station-status">-</label>
                </div>
            </div>
            <div>
                <label class="prediction">Prediction In 1 Hour:</label>
            </div>
            <div id="future-station-info">

                <div>
                    <label class="station-info">Available Bikes: </label>
                    <label id="future-station-bikes">-</label>
                </div>
                <div>
                    <label class="station-info">Free Bike Stands: </label>
                    <label id="future-station-bike-stands">-</label>
                </div>
            </div>
            <div class="selWrapper">
                <select id="stationSelect"></select>
            </div>
        </div>
        <div class="divider">
        </div>
        <div class="left-content" id="left-content-bottom">
            <div id="weather-prediction">
                <label id="weather-condition">Next Hour Weather</label>
                <label class="weather-pre-detail" id="temp">-</label>
                <label class="weather-pre-detail" id="condition">-</label>
                <label class="weather-pre-detail" id="wind">-</label>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div id="map"></div>
        <select id="from">
            <option>From</option>
        </select>
        <select id="to">
            <option>To</option>
        </select>
        <button id="go-button">GO!</button>
    </div>

</div>

<div class="bottom">
    <div class="chart-container">
        <div id="left-chart" class="chart">
            <label id="occupancy_predication">Occupancy Predication In Next Week</label>
            <div class="loading-canvas-container">
                <img src="./static/img/animation_500_lgiaszwi.gif" id="loading">
                <canvas id="avgHourBikesPredictionChart"></canvas>
            </div>
        </div>
        <div id="right-chart" class="chart">
            <label id="occupancy_predication">Daily Occupancy Based On History</label>
            <canvas id="avgDayBikesChart"></canvas>
        </div>
    </div>
</div>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-XxRT6dVUEmvaAUVwYkF8wnU65RITWO4&callback=initMap&v=weekly"
        defer
></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>

